#gallery .pics {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: center;
}
#gallery {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}